@defer {
    <div class="row pb-2">
        <div class="col-12">
            <div class="d-flex justify-content-end align-item-center">
                <button (click)="modalService.displayModal('md', addProductsModal)"  type="button" class="btn btn-primary">
                    Add Product
                </button>
            </div>
        </div>
        <div class="col-12">
            <app-product-list
            [title]="'Products'"
            (callModalAction)="callEdition($event)"
            (callDeleteAction)="productService.delete($event)"
            [products] = "productService.products$()"
        />
        </div>
        <app-pagination
            [service]="productService"
        />
    </div>
} @loading (minimum 1.5s) {
    <app-loader/>
  }

<ng-template #addProductsModal>
    <app-modal
        [hideFooter]="true"
    >
        <div>
            <app-product-form
                [productsForm]="productForm"
                (callSaveMethod)="saveProduct($event)"
                (callUpdateMethod)="updateProduct($event)"
            />
        </div>
    </app-modal>
</ng-template>